<a href="https://colab.research.google.com/github/yv0me/cluminating20230529/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 、

In [ ]:
for i in range(10,15,2):
  print(i)

10
12
14

In [ ]:
for i in range(10,3,-2):
  print(i)

10
8
6
4

In [ ]:
for i in range(15,10,-2):
  print(i)

15
13
11

In [ ]:
for i in range(7,1,-1):
  print(i)

7
6
5
4
3
2

In [ ]:
def main():
  n=eval(input("enter the num:"))
  for i in range(n,1,-1):
    print(i)
main()

enter the num:7
7
6
5
4
3
2

In [ ]:
def main():
  n=int(input("enter the value"))
  fact=1
  for factor in range(n,1,-1):
    fact=fact*factor
    print(fact)
main()

enter the value5
5
20
60
120

In [ ]:
def main():
  #get the num of package
  n=eval(input("enter the num of package"))
  #get the num of collision
  m=eval(input("enter the times of collision"))
  score=50*n-10*m
  if n>m:
    score=score+500

  print("the result is" , score)

main()

enter the num of package0
enter the times of collision10
the result is -100

# New Section

231013 L3

In [ ]:
def main():
  r=eval(input("enter the r"))
  π=3.14
  V = 4/3*π*r**3
  A= 4*π*r**2
  print("V =",V,"A =",A)
main()

enter the r3
V = 113.03999999999999 A = 113.04

In [ ]:
def main():
  p=eval(input("enter the price"))
  d=eval(input("enter the d"))
  π=3.14
  A=π*(d/2)**2
  cost=p/A
  print("the cost per square inch is",cost)
main()

enter the price35
enter the d4
the cost per square inch is 2.7866242038216558

In [ ]:
def main():
  H,C,O=eval(input(enter the num of H,C,O""))

# New Section

In [ ]:
for i in range(7):
  print(i,2**i)

0 1
1 2
2 4
3 8
4 16
5 32
6 64

In [ ]:
def main():
  a,b = eval(input("enter num a,b"))
  print(a//b)
  print(a/b)
  print(a%b)
  print(a**b)
  print(a*b)
  print(a+b)
  print(a-b)

main()

enter num a,b3,5
0
0.6
3
243
15
8
-2

In [ ]:
number = int(input("enter a number:"))
if (number % 2==0):
  print(number,"is even num")
else:
  print(number,"is odd num")

enter a number:3
3 is odd num

In [ ]:
def main():
  celsius = eval(input("What's the celsius temperature?"))
  fahrenheit = 9/5 * celsius +32
  print("The temperature is", fahrenheit, "degrees Fahrenheit.")

main()

What's the celsius temperature?37
The temperature is 98.60000000000001 degrees Fahrenheit.

# New Section

In [ ]:
x = 4.0/10.0+3.5*2
print(x)

7.4

In [ ]:
x = 10%4+6/2
print(x)

5.0

In [ ]:
x = abs(4-20//3)**3
print(x)

8

In [ ]:
x = sqrt(4.5 - 5.0) + 7*3
print(x)

NameError: ignored

In [ ]:
x = 3*10//3+10%3
print(x)

11

In [ ]:
x = 3**3
print(x)

27

In [ ]:
range x=(15,5,-2)
print(x)

SyntaxError: ignored

In [ ]:
for i in range(1,11):
  print(i*i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
for i in[1,3,5,7,9]:
  print(i,":",i**3)
  print(i)

1 : 1
1
3 : 27
3
5 : 125
5
7 : 343
7
9 : 729
9

In [ ]:
x=2
y=10
for j in range(0,y,x):
  print(j,end="")
  print(x+y)
  print("done")

012
done
212
done
412
done
612
done
812
done

In [ ]:
ans = 0
for i in range(1,11):
  ans = ans+i*i
  print(i)
  print(ans)

1
1
2
5
3
14
4
30
5
55
6
91
7
140
8
204
9
285
10
385

In [ ]:
def main():
  r = eval(input("enter the num r"))
  π = 3.14
  V = 4/3*π*r**3
  A = 4*π*r**2
  print(V,A)
main()

enter the num r3
113.03999999999999 113.04

# New Section

In [ ]:
for i in range(5):
  print(i*i)

0
1
4
9
16

In [ ]:
print("red","green","blue",sep=',')

red,green,blue

# New Section

In [ ]:
def main():
  n = eval(input("enter the number n"))
  print("result",((1*1)+(n*n))*n/2)
main()

enter the number n45
result 45585.0

In [ ]:
n = eval(input("enter the num: "))
for i in range(1,n+1):
  for j in range(1, i+1):
    print(j,end="")
  print()

enter the num: 7
1
12
123
1234
12345
123456
1234567

In [ ]:
n = eval(input("enter the year: "))
if (n%4==0 and n%100!=0 or n%400==0):
  print(n,"is leap year")
else:
  print(n,"is normal year")

enter the year: 1700
1700 is normal year

In [ ]:
import math
def main():
  r,a,h = eval(input("enter the num r,a,h"))
  print("area of a circle", math.pi*r*r)
  print("area of a cube", 6*a*a)
  print("area of a cylinder", 2*math.pi*r*h+2*math.pi*r*r)
  print("area of a sphere", 4*math.pi*r*r)
main()

enter the num r,a,h3,4,5
area of a circle 28.274333882308138
area of a cube 96
area of a cylinder 150.79644737231007
area of a sphere 113.09733552923255

# New Section

In [ ]:
for i in range(10):
  if i%2==0:
    print("even")
  else:
    print("odd")

even
odd
even
odd
even
odd
even
odd
even
odd

In [ ]:
n=int(input("enter your age"))
if n<18:
  print("age is less than 18");
elif n>18 and n<50:
  print("age is between 18 and 50");
else:
  print(n)

enter your age25
age is between 18 and 50

In [ ]:
int(4.5)

4

In [ ]:
float(4)

4.0

In [ ]:
float(int(3.3))

3.0

In [ ]:
int(float(3.6))

3

rounding

In [ ]:
round(3,5)

3

In [ ]:
round(3,8)

3

In [ ]:
round(4.23456,4)

4.2346

In [ ]:
round(4.236674,2)

4.24

math functions

In [ ]:
import math
print(math.sqrt(4))
print(math.pi)
print(math.tan(4))

2.0
3.141592653589793
1.1578212823495775

use int or float(the types) for taking input from the user

In [ ]:
num,num1=eval(input("enter the number"))
print(num+num1)

enter the number3,4
7